
//primary colors
$primary: #007AFF;
$primaryHover: #BBE2FF;
$deprecatedPrimaryColor: #3333CC;
$deprecatedPrimaryColorLight: #7777D3;
$deprecatedPrimaryColorLight2: #779DFF;
$deprecatedPrimaryColorHover: #E6EDFF;

// grey shades
$black: #1D1D1D;
$darkGrey: #6C6C6C;
$grey: #B5B5B5;
$lightGrey: #DADADA;
$lightestGrey: #EFEFEF;
$white: #FFFFFF;

// status colors
$success: #4BDC64;
$danger: #FFCB00;
$error: #FF3737;

// planning phase colors
$wip: #FF3737;
$publication: #F69B02;
$qa: #AC28E6;
$qaAnswers: #2C96DF;
$answer: #F854EC;
$assignment: #FF3737;